<%= form_for @doc do |f| %>

  <div class="form-group">
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %><br>
  </div>

  <div class="form-group">
    <h3><%= f.label :content %></h3>
    <%= f.text_area :content, placeholder: "So what's on your mind?", class: "form-control", rows: "5" %><br>
  </div>

  <%= f.submit "Save", class: "btn btn-info" %>

<% end %>
