<h1><%= @doc.title %></h1>

<%= @doc.content %>

<%= link_to "All Documents", documents_path %>
<%= link_to "Edit Document", edit_document_path(@doc) %>
<%= link_to "Delete", document_path(@doc), method: :delete, data: { confirm: "Are you sure?" } %> 
